/*
 *= require bootstrap/dist/css/bootstrap
 *= require angular-ui-select/dist/select
 *= require_tree .
 *= require_self
 */
@import "variables";
 /*All Pages*/
 h1, h2, h3, h4, h5, h6, p, small, i, u, li, span{
   color:  $primary-text-color;
 }

 a:hover {
  cursor:pointer;
 }
