/*
 *= require bootstrap/dist/css/bootstrap
 *= require angular-ui-select/dist/select
 *= require_tree .
 *= require_self
 */

/* Variables */
 $primary-text-color: #777;

 /*All Pages*/
 h1, h2, h3, h4, h5, h6, p, small, i{
   color:  $primary-text-color;
 }

 a:hover {
  cursor:pointer;
 }

 /* Navigation */

.navbar-brand {
  font-size: 30px;
}

.navbar-nav li a {
  font-size: 18px;
}

#avatar_icon {
  width:auto;
  max-height:50px;
}

#avatar_icon:hover{
  cursor:pointer;
}

#nav_username{
  display: inline;
}

/* Edit Profile */
.edit_avatar_medium {
  width: 25%;
  height: auto;
}

.glyphicon-arrow-right {
  display: inline-block;
  margin: 0 5%;
  font-size: 2em;
  color: $primary-text-color;
}

/* View Profile */
.avatar_medium {
  display: block;
  width: 50%;
  height: auto;
}

#user_name_section{
  display: inline-block;
  hr{
    margin: 5px 0;
  }

  h2{
    margin: 0 0;
  }
}

#joined_date{
  font-size: 0.75em;
}

#new_review_heading{
  margin-bottom: 0;
}

#new_review_form{
  .alert{
    padding: 5px 15px;
    margin: 5px 0px;
  }

  .positive_selected_item{
    color: #3c763d;
    font-weight: bold;
  }

  .negative_selected_item{
    color: #a94442;
    font-weight: bold;
  }

  .positive_trait_item{
    color: #3c763d;
  }

  .negative_trait_item{
    color: #a94442;
  }
}

#user_description{
  word-wrap: break-word;
}
