/*
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 *= require_self
 */

.navbar-brand {
  font-size: 30px;
}

.navbar-nav li a {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  color: #777;
}

#avatar_image {
  display: block;
}
