/*
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 *= require_self
 */

/* Variables */
 $primary-text-color: #777;

 /*All Pages*/
 h1, h2, h3, h4, h5, h6, p{
   color:  $primary-text-color;
 }

 a:hover {
  cursor:pointer;
 }

 /* Navigation */

.navbar-brand {
  font-size: 30px;
}

.navbar-nav li a {
  font-size: 18px;
}

#avatar_icon {
  width:auto;
  max-height:50px;
}

#avatar_icon:hover{
  cursor:pointer;
}

#nav_username{
  display: inline;
}

/* Edit Profile */
.edit_avatar_medium {
  width: 25%;
  height: auto;
}

.glyphicon-arrow-right {
  display: inline-block;
  margin: 0 5%;
  font-size: 2em;
  color: $primary-text-color;
}

/* View Profile */
.avatar_medium {
  display: block;
  width: 50%;
  height: auto;
}

#user_name_section{
  display: inline-block;

  hr{
    margin: 5px 0;
  }
}

#user_name{
  margin-bottom: 0;
}

#joined_date{
  text-align: right;
  font-size: 0.75em;
}
