/* View Profile */
@import "variables";

#user_avatar {
  display: block;
  width: 50%;
  height: auto;
  margin-bottom: 10px;
}

#user_name_section{
  display: inline-block;
  margin-right: 10px;
  hr{
    margin: 5px 0;
  }

  h2{
    margin: 0 0;
  }

  p{
    margin-bottom: 0;
  }
}

#user_name_section+.btn-info{
  vertical-align: top;
}

#joined_date{
  font-size: 0.75em;
}

#new_review_heading{
  margin-bottom: 0;
}

#new_review_form{
  .alert{
    padding: 5px 15px;
    margin: 5px 0px;
  }

  .positive_selected_item{
    color: $positive-trait-text-color;
    font-weight: bold;
  }

  .negative_selected_item{
    color: $negative-trait-text-color;
    font-weight: bold;
  }

  .positive_trait_item{
    color: $positive-trait-text-color;
  }

  .negative_trait_item{
    color: $negative-trait-text-color;
  }
}

#user_description{
  word-wrap: break-word;
}

/*Right Section*/

#right_section{
  border-left: thin solid #dbd9d8;
}

#user_traits_section{

  border: thin solid #dbd9d8;

  hr{
    margin: 5px 0;
  }

  h3{
    text-align: center;
  }
  #positive_traits_heading{
    color: $positive-trait-text-color;
  }

  #negative_traits_heading{
    color: $negative-trait-text-color;
  }

  .pagination {
    a{
      color: $dark-text-color;
    }
    .active a{
      background-color: #e8e3e0;
      border-color: #e8e3e0;
    }
  }

  table{
    margin-bottom: 0;
  }

}

#user_reviews_section{
  hr{
    margin: 5px 0;
  }
}

#user_reviews_list{
  li{
    .reviewer{
      display: inline-block;
      width: 15%;
      img{
        display: block;
        margin: 0 auto;
      }
      p{
        text-align: center;
        margin-bottom: 0;
        word-wrap: break-word;
      }
    }
    .review_content{
      display: inline-block;
      width: 84%;
      p{
        word-wrap: break-word;
        margin-bottom: 10px;
      }
      ul{
        padding-left: 0;
        li{
          display: inline-block;
          width: 23%;
          margin-right: 2%;
          list-style-type: none;
          word-wrap: break-word;
        }
        li:last-of-type {
           margin-right: 0;
        }
        .review_positive_trait{
          color: $positive-trait-text-color;
        }
        .review_negative_trait{
          color: $negative-trait-text-color;
        }
      }
    }
  }
}
